
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage);
    

  
}
h1{
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;

}
nav a:hover{
    color:purple;
    text-decoration: underline;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    color:firebrick;
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px 0;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
    display: run-in;
    background-color: aqua;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;

}

footer {
    font-size: 15px;
    color:aqua;
    background-color:black;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    


}
